.horizontal_line {
    height: 2px;
    background-color: #778A50;
    margin-top: 25px;
}

main {
    background-color: #F7FBDA;
    margin: 60px auto 0;
    width: 450px;
}

.sub_title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}

.home_btn {
    width: 119px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 400px;
    width: 60%;
    margin: auto;
    font-weight: bolder;
}

input {
    background-color: inherit;
    color: #333;
    font-family: Arial;
}

.not_robot_box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: solid 2px #778A50;
    background-color: #fff;
    width: 100%;
    height: 50px;
}

.img_nrb {
    height: 100%;
}

form a,
form a:visited {
    color: rgb(29, 29, 216);
}

form a:hover {
    text-decoration-line: underline;
}

.sub_btn {
    border: solid 3px #778A50;
    padding: 6px 25px;
    font-weight: bolder;
}

.sub_btn:hover {
    border: solid 3px #000;
}

.sub_btn:active {
    background-color: #616e47;
}

.help {
    display: flex;
    justify-content: space-between;

    width: 80%;
}